[Desktop Entry]
Categories=Utilities;System;
Comment[en_US]=Frontend for snapper snapshot manager
Comment=Frontend for snapper snapshot manager
Exec=snapper-gui
GenericName[en_US]=
GenericName=
Icon=drive-harddisk
MimeType=
Name[en_US]=Snapper GUI
Name=Snapper GUI
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=true
X-KDE-Username=root
